$font-color: rgb(22, 22, 22);
$font-alternative-color: rgb(39, 39, 39);
$font-family1: 'Open Sans', sans-serif;
$accent-color: #ee6c4d;
$background-color: #fff;
$background-alternative-color: #fff;
$code-background: #ffcbcb;
$eggshell-border: #f0ead6;
$nav: #00dbd2;
$footer: #005c59;
$side: #00a8a3;
