body {
    background-color: $background-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    line-height: 1.5rem;
    color: $font-color;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol {
    padding-left: 1.5em;
}

ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html {
    height: 100%;
}

.main2 {
    max-width: 960px;
    margin: 0 auto;
    flex: 1 0 auto;
    justify-content: center;
    border: 1px solid $font-color;
    text-align: center;
    height: fit-content;
}

.main {
    flex: 1 0 auto;
    justify-content: center;
    border: 1px solid $font-color;
    height: fit-content;
}

.content {
    max-width: 60%;
    margin: 0 auto;
}

.header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title {
    .logo {
        padding: 3em 3em 3em 0;
    }
}

@media (max-width: 767px) {
    .title {
        .logo {
            padding: 1em 1em 1em 0;
        }
    }

    .title {
        min-width: 50%;
        color: $font-color;
        
    }

    .logo {
        max-width: 30%;
    }

    p {
        word-spacing: -1px;
        font-style: italic;
    }
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    border-top: 1px solid $footer;
    border-bottom: 8px solid $footer;
    background-color: $footer;
    margin: auto;
    
    a {
        color: rgb(39, 197, 224);
        text-decoration: none !important;
    }

    .social {
        font-size: 2rem;
    }

    p {
        color: $font-color;
    }
}


/* Typografy */



/* tog väck justify för det gjorde texten skum på mobileview? hoppas att jag hittar en bättre lösning? */

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

td {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

th {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

li {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: $font-family1;
}

h2 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: $font-family1;
}

h3 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: $font-family1;
}

h4 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: $font-family1;
}

h5 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: $font-family1;
}

h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: $font-family1;
}

* {
    font-family: 'Poppins', sans-serif;
    color: $font-color;
}

img {
    max-width: 100%;
}

.transparent {
    background-color: #005c5960;

    .blend-overlay {
        mix-blend-mode: overlay;
    }

    
}
