$font-color: #fff;
$font-alternative-color: #fff;
$font-family1: 'Open Sans', sans-serif;
$accent-color: #ee6c4d;
$background-color: #0f0f0f;
$background-alternative-color: #222;
$code-background: #ff8686;
$eggshell-border: #f0ead6;
$nav: #00dbd2;
$footer: #005c59;
$side: #00a8a3;
