$font-color: #fff;
$font-alternative-color: #fff;
$font-family1: 'Open Sans', sans-serif;
$accent-color: #ee6c4d;
$background-color: #000;
$background-alternative-color: #222;
$code-background: #ff8686;
$eggshell-border: #f0ead6;
$nav: #52057b;
$footer: #52057b;
$side: #892cdc;
