{% include 'incl/header.twig' %}

<body class="body3">
    {% include 'incl/nav.twig' %}

    <div style="margin-top: 150px;" class="main4" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
