{% include 'incl/header.twig' %}

<body class="body4">
    {% include 'incl/nav.twig' %}

    <div style="max-width: 100%;" class="main4" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
